*{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
}

body{
  font-family: "Lato", sans-serif;
}

#img-hpny{
  width: 100%;
  display: block;
}

.container{
  background-image: linear-gradient(180deg,rgba(158, 185, 200, 0.5),rgba(209, 95, 95, 0.5));
  padding-top: 30px;
}

#font-hpny{
  color: rgb(255, 0, 0);
  text-align: center;
}

.content{
  font-size: 20px;
  padding: 24px 40px;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.end{
  font-style: italic;
  float: right;
  padding-right: 40px;
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 16px;
}

.ti-heart{
  color: red;
}

